.body{
    background: grey;
}



.navbar-head{
    font-size: 40px;
    color: purple;
    font-family: monospace;
    text-decoration: none;
    
}

.navbar-head:hover{
    color: brown;
}
.navbar-header a:hover{
    color: brown;
    transition: 1s;
    text-decoration: none;
    
}



ul li{
    padding: 5px;
    font-size: 20px;
}
ul li:hover{
    background: silver;
    transition: 1s;
}


.about-overlay{
    background: grey;
    position: relative;
    padding-top: 60px;
    
}
.about-container{
    
    background: silver;
    width: 80%;
}
.description{
    padding: 100px;
    font-weight: bold;
    line-height: 2;
    font-size: 20px;
    color: white;
}
.photo img{
    padding: 40px;
    width: 100%;
    border-radius: 50%;
}

.black{
    border: 3px white solid;
    width: 55%;
    margin-left: 0;
    position: absolute;
}
.icon{
    padding-left: 440px;
    position: absolute;
    font-size: 40px;
}
.icon1{
    padding-left: 480px;
    position: absolute;
    font-size: 40px;
}
#down{
    padding-top: 60px;
}

.section-overlay{
    background: grey;
    
}
.section-under-overlay{
    background: #f1f1f1;
    width: 80%;
    border-bottom: 2px solid white;
}
.section-heading{
    font-size: 35px; 
    padding: 20px;
    font-weight: 600;
    
    
}
.underline{
    width:10%;
    border: 1px solid black;
}

.portfolio-photos{
    padding: 40px;
}
.portfolio-photos img{
    padding: 20px;
    margin-left: 10px;
    width: 90%;
    border-radius: 50px;
}

.contact-overlay{
    background: grey;
}
form{
    padding: 50px;
}


input[type="text"],input[type="email"],textarea{
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: transparent;
    border-bottom: 2px solid silver;
    font-size:20px;
    outline: none;
}
input[type="submit"]{
    font-size: 20px;
    padding: 0px 20px;
    margin-top: 40px;
}
input[type="submit"]:hover{
    background: grey;
    border: 1px solid brown;
    transition: 0.5s;
}
textarea{
    display: flex;
    border: transparent;
    border-bottom: 2px solid silver;
    font-size: 20px;
    width: 100%;
    max-width: 400px;
    resize: none;
    outline: none;
    
}
input[type="text"]:hover,input[type="email"]:hover,
textarea:hover,
textarea:active,
textarea:focus{
    border-bottom: 3px solid silver;
    border-color: none;
}


.contact-des{
    padding: 40px;
    font-weight: bold;
    line-height: 2;
    font-size: 20px;
    color: grey;
    font-family: cursive;
}
.note{
    padding: 40px;
    font-weight: bold;
    line-height: 2;
    font-size: 20px;
    color: grey;
    font-family: cursive;
}

.made-by{
    background: silver;
}
.heading-left{
    font-size: 25px;
    color: white;
    padding: 20px;
    font-weight: 700;
}

.heading-right{
    font-size: 25px;
    color: white;
    padding: 20px;
    text-align: center;
    font-weight: 700;
}


.under-heading{
    color: white;
    font-size: 25px;
    text-align: center;
}
.under-heading i{
    color: darkslategrey;
}
.under-heading i:hover{
    font-size: 30px;
    color: purple;
    transition: 0.5s;
    
}
.under-heading a{
    text-decoration: none;
    
}

.circle{
    border-radius: 50%;
    
    border: 1px solid black;
}
a:hover{
    color: purple;
    transition: 0.5s;
}

a i:hover{
    color: purple;
    transition: 0.5s;
    font-size: 30px;
}

.editing{
    padding: 50px;
    font-size: 30px;
    background: purple;
    color: white;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img 
        {
          width: 70%;
          margin: auto;
}


.carousel{
    width: auto;
    margin: 0 auto;
}

.carousel-indicators{
    margin-bottom: -20px;
}
.grey{
    background-color: silver;
}
